body{
  height: 100%;
  background-image: url("../img/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

#navigation a{
  color: white;
}

#navigation a:hover{
  background-color: #597eaa;
}

#banner{
  margin: 200px 0;
  padding: 40px;
  color: white;
  background-color: rgba(25, 25, 25, .50);
}

.btn-blue{
  background-color: #597eaa;
  margin: 0 20px;
}

.btn-blue:hover{
  background-color: #354C66;
}

#banner-btn li:hover{
  color: #ccc;
}

#projects{
  background-color: #fafafa;
}

#spacer{
  height: 200px;
}

#contact{
  background-color: #597eaa;
}

.social-icon{
  width: 30px;
  height: 30px;
  margin: 0 5px;
  padding: 5px;
  background-color: rgba(200, 200, 200, .5);
  vertical-align: top;
  border-radius: 5px;
}