/*******************
GENERAL
*******************/

body{
  font-family: 'Open Sans', sans-serif;
  background-color: #f9f9f9;
  color: #333;
  height: 100%;
}

#wrapper{
  clear: both;
  max-width: 940px; 
  margin: 0 auto;
}

a{
  text-decoration: none;
}

section img{
  max-width: 100%; 
}

h3{
  margin: 0 0 1em 0;
}



/*******************
HEADING
*******************/


header{
  float: left;
  margin: 0 0 30px 0;
  width: 100%;
  padding-top: 2em;
  background-image: url("../img/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

#logo{
  text-align: center; /*"center" is a keyword*/
  margin: 0;
}

header h1{
  font-family: 'Montserrat', sans-serif;
  margin: 15px 0;
  font-size: 1.75;
  font-weight: normal;
  line-height: 0.8em;
}

header h2{
  font-size: 0.75em;
  margin: -5px 0 0; /* brings h1 and h2 elements tighter together */
  font-weight: normal;
}



/*******************
Navigation
*******************/

nav{
  text-align: center;
  padding: 10px 0;
  margin: 20px 0 0;
  background: rgba(0,0,0,0.5);
}

nav ul{
  list-style: none;
  margin: 0 10px;
  padding: 0;
}

nav li{
    display: inline-block;
}

nav a{
  font-weight: 800;
  padding: 15px 10px;
}


/*******************
FOOTER
*******************/

footer{
  font-size: 0.75em;
  text-align: center;
  clear: both;
  padding-top: 50px;
  
}

.social-icon{
  width: 20px;
  height: 20px;
  margin: 0 5px;
}




/*******************
PAGE PORTFOLIO
*******************/


#gallery{
  margin: 0;
  padding: 0;
  list-style: none;
}

#gallery li{
  margin: 20px 0;
  background: rgba(50, 50, 50, .8);
  width: 80%;
  margin: 0 auto;
  }

#gallery li a{
  display: block;
  margin: 0 auto;
}

#gallery li p{
  font-size: .75em;
  color: white;
  text-align: center;
}

.website-summary{
  display: block;
  margin: 20px;
  vertical-align: top;
}

.website-summary p{
  display: inline-block;
  width: 100%;
  margin: 0 auto;
}

#gallery img{
  width: 100%;
  padding: 0;
  vertical-align: top;
  display: block;
}

#second{
  clear: left;
}

#third{
  clear: right;
}

.left{
  float: left;
}

.right{
  float: right;
}


/*******************
PAGE: ABOUT
*******************/

.profile-photo{
  display: block;
  max-width: 150px;
  margin: 0 auto 30px;
  border-radius: 20%;
  border: 2px solid #999;
}

section h1{
  font-size: 1.25em;
}

section h2{
  font-size: 1em;
  color: #1A4D80;
}

.location-section{
  clear: left;
}



/*******************
PAGE: CONTACT
*******************/

.contact-info{
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 0.9em;
}

.contact-info a{
  display: block;
  min-height: 20px;
  background-repeat: no-repeat;
  background-size: 20px 20px;
  padding: 0 0 0 30px;
  margin: 0 0 10px;
}

.contact-info li.phone a{
  background-image: url('../img/phone.png');
}

.contact-info li.mail a{
  background-image: url('../img/mail.png');
}

.contact-info li.twitter a{
  background-image: url('../img/twitter.png');
}



/*******************
COLORS
*******************/

/* site body */


/* green header */


/*nav background on mobile*/


/* logo text */
header h1, header h2{
  color: #fff;
}

/* links */
a{
  color: #2060A0; 
}

/* nav link */
nav a, nav a:visited{
  color: #fff;
}

/* selected nav link */
nav a.selected, nav a:hover {
  color: #4D80B3;
}

@media screen and (min-width: 660px){
  header{
    padding: 3em 0 3em 0;
    border-bottom: 5px solid #1A4D80; 
  }

}



@media screen and (min-width: 1024px){
  header h1{
    font-size: 3em;
  }

  header h2{
    font-size: 2em;
  }

  header{
    padding: 5em 0 5em 0;
  }

  nav a.selected, nav a:hover{
    color: #2060A0;
  }
}
